[submodule "task-3-hashtable-classes-inner-classes-class-object-MixailN"]
	path = task-3-hashtable-classes-inner-classes-class-object-MixailN
	url = https://github.com/itmo-java-basics-2020/task-3-hashtable-classes-inner-classes-class-object-MixailN
